.product-wrapper {
    .product {
        height: 195px !important;
        width: 195px !important;

        .product-price {
            width: 20px;
            height: 100px;
            align-self: end;
            writing-mode: tb-rl;
            transform: rotate(-180deg);
            position: relative;
            span {
                position: absolute;
            }
        }

        .product-name {
            width: 200px;
            height: 20px;
            top: 48px;
            position: relative;

            span {
                position: absolute;
            }
        }
    }

}