.product-wrapper {
    .product {
        height: 195px !important;
        width: 195px !important;
        opacity: var(--on-box-shadow);

        .product-price {
            width: 20px;
            height: 100px;
            align-self: end;
            writing-mode: tb-rl;
            transform: rotate(-180deg);
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                position: absolute;
            }

            .product-price-amount {
                color: red;
                font-weight: bold;
            }
        }

        .product-first-letter {
            position: relative;
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 400;
            font-size: 104px;
            color: rgba(255, 255, 255, 0.15);
            transform: rotate(17.11deg);
            left: 20px;
            top: 90px;
        }

        .product-name {
            width: 200px;
            height: 20px;
            top: 33px;
            position: relative;
            font-weight: bold;
            font-size: 13px;
            text-transform: uppercase;
            margin-left: 10px;

            span {
                position: absolute;
            }
        }
    }

    .card {
        --bs-card-border-radius: 0;
        border: unset;
    }
}

.submit-button {
    border-radius: unset;
    background-color: red;
    width: 100%;
}

.price {
    color: red;
    font-weight: bold;
}

.products {
    border-bottom: 1px solid grey;
}