.product-wrapper {
    .product {
        height: 195px !important;
        width: 195px !important;

        .product-price {
            width: 20px;
            height: 100px;
            align-self: end;
            writing-mode: tb-rl;
            transform: rotate(-180deg);
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                position: absolute;
            }

            .product-price-amount {
                color: red;
            }
        }

        .product-first-letter {
            position: relative;
            font-family: 'Londrina Outline';
            font-style: normal;
            font-weight: 400;
            font-size: 104px;
            color: rgba(255, 255, 255, 0.15);
            transform: rotate(17.11deg);
            left: 20px;
            top: 90px;
        }

        .product-name {
            width: 200px;
            height: 20px;
            top: 48px;
            position: relative;
            left: 7px;

            span {
                position: absolute;
            }
        }
    }

    .card {
        --bs-card-border-radius: 0;
        border: unset;
    }
}